<div class="container">
  <div class="center-text">
    <h1>Products</h1>
    <div class="red-link">
      <% if current_user && current_user.admin %>
        <%= link_to "Create new product", new_product_path %><br>
      <% end %>
    </div>
    <% if @products.any? %>
      <% @products.sort %>
      <% @products.each do |product| %>
        <%= link_to product.name, product_path(product) %><br>
      <% end %>
    <% else %>
      <p>There are no products yet. </p>
    <% end %>
  </div>
</div>